---
import Base from "../layouts/Base.astro";
---

<Base title="notyce.systems">
  <p>
    <strong>notyce.systems</strong> 
  </p>


  <div class="keywords">
    <strong>Keywords:</strong> computational design, open source,
    systems thinking, agentic coding, life observability
  </div>

</Base>
